<template>
    <div class="col-12">
        <h1 class="text-center mb-5">
            <router-link class="nav-link" :to="{ name: 'create' }">
                <img class="logo-title" src="/img/logomark.min.svg" alt="Short.ly">
                Short.ly
            </router-link>
        </h1>
        <div class="container">
            <router-view></router-view>
        </div>
        <hr>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'statistics.index' }">Statistics</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'create' }">Shorten URL</router-link>
            </li>
        </ul>
    </div>

</template>
<script>
    export default {
        props: ['file', 'address'],
        mounted() {
            if (this.file !== null && this.file !== '') {
                // Added file and address to store
                this.$store.commit("SET_FILE", this.file);
                this.$store.commit("SET_ADDRESS", this.address);

                // change to the template with advertising for her showing
                this.$router.push({
                    name: "advertising",
                });
            }
        }
    }
</script>