<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img :src="file" class="img img-fluid" alt="Advertising">
                You will be redirected in {{ time }} seconds
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Advertising",
        data: function () {
            return {
                time: 5,
            }
        },
        mounted() {
            setTimeout(this.redirect,5000);
            setInterval(this.timer, 1000);
        },
        methods: {
            timer: function() {
                if (this.time > 0) {
                    this.time = this.time - 1;
                }
            },
            redirect: function () {
                window.location.replace(this.address);
            }
        },
        computed: {
            file() {
                return this.$store.getters.FILE;
            },
            address() {
                return this.$store.getters.ADDRESS;
            }
        }
    }
</script>

<style scoped>

</style>