<template>
    <form>
        <div class="input-group">
            <input type="text"
                   class="form-control form-control-lg"
                   id="url"
                   name="url"
                   placeholder="Paste an url"
                   aria-label="Paste an url"
                   v-model="data.url"
                   :class="urlError"
            >
            <div class="input-group-append">
                <button class="btn btn-primary" @click.prevent="store">Shorten</button>
            </div>
            <div class="valid-feedback" v-if="Object.keys(this.errors).length === 0 || (Object.keys(this.errors).length > 0 && this.errors['url'] === undefined)">
                Looks good!
            </div>
            <div class="invalid-feedback" v-if="Object.keys(this.errors).length > 0 && this.errors['url'] !== undefined">
                {{ this.errors['url'][0] }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="code">Custom code (optional)</label>
                    <input type="text" class="form-control" :class="codeError" id="code" name="code" placeholder="Set your custom code" v-model="data.code">
                    <div class="valid-feedback" v-if="Object.keys(this.errors).length === 0 || (Object.keys(this.errors).length > 0 && this.errors['code'] === undefined)">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" v-if="Object.keys(this.errors).length > 0 && this.errors['code'] !== undefined">
                        {{ this.errors['code'][0] }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <label for="expires_at">Expires at (optional)</label>
                    <input type="datetime-local" class="form-control" :class="expiresAtError" id="expires_at" name="expires_at" placeholder="Set your expiration date" v-model="data.expires_at">
                    <div class="valid-feedback" v-if="Object.keys(this.errors).length === 0 || (Object.keys(this.errors).length > 0 && this.errors['expires_at'] === undefined)">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" v-if="Object.keys(this.errors).length > 0 && this.errors['expires_at'] !== undefined">
                        {{ this.errors['expires_at'][0] }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="commercial" name="commercial" v-model="data.commercial">
                        <label class="custom-control-label" for="commercial">
                            Commercial link? (Optional)
                        </label>
                        <div class="invalid-feedback" v-if="Object.keys(this.errors).length > 0 && this.errors['commercial'] !== undefined">
                            {{ this.errors['commercial'][0] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3" v-if="response.status === 201">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="alert alert-success" role="alert">
                    Your shortened url is: <a class="font-weight-bold" :href="item.shorterUrl" title="your shortened url">{{ item.shorterUrl }}</a>
                    (<a class="copy-clipboard" href="javascript:void(0);" :data-clipboard-text="item.shorterUrl">Copy link to clipboard</a>)
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="alert alert-success" role="alert">
                    Your statistics for this url: <a class="font-weight-bold" :href="item.statisticsUrl" title="your shortened url">{{ item.statisticsUrl }}</a>
                    (<a class="copy-clipboard" href="javascript:void(0);" :data-clipboard-text="item.statisticsUrl">Copy link to clipboard</a>)
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import api from "../../../api/urls";
    export default {
        name: "Create",
        data() {
            return {
                data: {
                    url: null,
                    code: null,
                    expires_at: null,
                    commercial_link: false,
                },
                item: {
                    url: null,
                    code: null,
                    expires_at: null,
                    commercial_link: false,
                },
                errors: {},
                response: {},
            }
        },
        methods: {
            store: function () {
                this.errors = {};
                api.create(this.data).then((response) => {
                    if(response.status === 201) {
                        this.item = response.data.data;
                        this.response = response;
                    } else {

                    }
                }).catch(error => {
                    this.errors = error.response.data.errors;
                });
            },
            error: function(field) {
                return {
                    'is-invalid': (Object.keys(this.errors).length > 0 && this.errors[field] !== undefined),
                    'is-valid': (Object.keys(this.errors).length > 0 && this.errors[field] === undefined)
                }
            }
        },
        computed: {
            urlError: function () {
                return {
                    'is-invalid': (Object.keys(this.errors).length > 0 && this.errors['url'] !== undefined),
                    'is-valid': (Object.keys(this.errors).length > 0 && this.errors['url'] === undefined)
                }
            },
            codeError: function () {
                return {
                    'is-invalid': (Object.keys(this.errors).length > 0 && this.errors['code'] !== undefined),
                    'is-valid': (Object.keys(this.errors).length > 0 && this.errors['code'] === undefined && this.item.code)
                }
            },
            expiresAtError: function () {
                return {
                    'is-invalid': (Object.keys(this.errors).length > 0 && this.errors['expires_at'] !== undefined),
                    'is-valid': (Object.keys(this.errors).length > 0 && this.errors['expires_at'] === undefined && this.item.expires_at)
                }
            }
        }
    }
</script>

<style scoped>

</style>