<template>
    <div class="container">
        <h3>Statistics for all URL last 14 days</h3>
        <div class="table-responsive">
            <table class="table" v-if="items !== null && items.length > 0">
                <thead class="thead-dark">
                    <th scope="col">Shorter URL</th>
                    <th scope="col">Date create</th>
                    <th scope="col">Unique showers</th>
                </thead>
                <tbody>
                <tr v-for="item in items">
                    <td><a :href="item.shorterUrl">{{ item.shorterUrl }}</a></td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ urlsStatistics[item.id] }}</td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" @click="goToPrev">Previous</a></li>
                    <li class="page-item"><a class="page-link" @click="goToNext">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    import statistics from "../../../../api/statistics";

    // callback for using it in other methods
    const getStatistics = (page, callback) => {
        const params = { page };
        statistics.paginate(params).then((response) => {
            callback(null, response);
        }).catch(error => {
            callback(error, error.response);
        });
    };

    export default {

        name: "Index",
        data: function() {
            return {
                urlsStatistics: {},
                items: {},
                meta: {},
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
            }
        },
        methods: {
            // next page
            goToNext() {
                this.$router.push({
                    query: {
                        page: this.nextPage,
                    },
                });
            },
            // prev page
            goToPrev() {
                this.$router.push({
                    name: 'statistics.single',
                    query: {
                        page: this.prevPage,
                    },
                });
            },

            // set data in this component from response
            setData(err, response) {
                if (err) {
                    this.error = err.toString();
                } else {
                    console.log(response.data.data);
                    this.urlsStatistics = response.data.data.urlsStatistics;
                    this.items = response.data.data.items;
                    this.links = response.data.links;
                    this.meta = response.data.meta;
                }
            },
        },
        computed: {
            // We calculate which page should be next
            nextPage() {
                if (! this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }

                return this.meta.current_page + 1;
            },
            // We calculate which page should be prev
            prevPage() {
                if (! this.meta || this.meta.current_page === 1) {
                    return;
                }

                return this.meta.current_page - 1;
            },
        },

        // before switching the component, we create a promise to return data for it
        beforeRouteEnter(to, from, next) {
            getStatistics(to.query.page,(err, post) => {
                next(vm => vm.setData(err, post))
            })
        },
        // create a promise before updating the route to return data for it
        beforeRouteUpdate (to, from, next) {
            this.urlsStatistics =  this.items = this.links = this.meta = null;
            getStatistics(to.query.page,(err, data) => {
                this.setData(err, data);
                next();
            });
        },

    }
</script>

<style scoped>

</style>