<template>
    <div class="container">
        <h3>Statistics for <a :href="url.shorterUrl">{{ url.shorterUrl }}</a></h3>
        <div class="table-responsive">
            <table class="table" v-if="statistics !== null && statistics.length > 0">
                <thead class="thead-dark">
                <th scope="col">Date</th>
                <th scope="col">Platform</th>
                <th scope="col">IP</th>
                <th scope="col">Device</th>
                <th scope="col" v-if="url.commercial">Image</th>
                </thead>
                <tbody>
                <tr v-for="statistic in statistics">
                    <td>{{ statistic.created_at }}</td>
                    <td>{{ statistic.platform }}</td>
                    <td>{{ statistic.visitor_ip }}</td>
                    <td>{{ statistic.device }}</td>
                    <td v-if="url.commercial"><a :href="statistic.showedCommercialImage">File</a></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" @click="goToPrev">Previous</a></li>
                    <li class="page-item"><a class="page-link" @click="goToNext">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    import statistics from "../../../../api/statistics";

    // callback for using it in other methods
    const getStatistics = (page, itemId, callback) => {
        const params = { page };
        statistics.paginateByUrl(itemId, params).then((response) => {
            callback(null, response);
        }).catch(error => {
            callback(error, error.response);
        });
    };

    export default {

        name: "Single",
        data: function() {
            return {
                url: {
                    shorterUrl: null,
                    commercial: false,
                },
                statistics: {},
                meta: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
            }
        },
        methods: {
            // next page
            goToNext() {
                this.$router.push({
                    query: {
                        page: this.nextPage,
                    },
                });
            },
            // prev page
            goToPrev() {
                this.$router.push({
                    name: 'statistics.single',
                    query: {
                        page: this.prevPage,
                    },
                });
            },

            // set data in this component from response
            setData(err, response) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.statistics = response.data.data.items;
                    this.url = response.data.data.url;
                    this.links = response.data.links;
                    this.meta = response.data.meta;
                }
            },
        },
        computed: {
            // We calculate which page should be next
            nextPage() {
                if (! this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }

                return this.meta.current_page + 1;
            },
            // We calculate which page should be prev
            prevPage() {
                if (! this.meta || this.meta.current_page === 1) {
                    return;
                }

                return this.meta.current_page - 1;
            },
        },

        // before switching the component, we create a promise to return data for it
        beforeRouteEnter(to, from, next) {
            getStatistics(to.query.page, to.params.id,(err, post) => {
                next(vm => vm.setData(err, post))
            })
        },
        // create a promise before updating the route to return data for it
        beforeRouteUpdate (to, from, next) {
            console.log(to, 1);
            this.statistics = this.links = this.meta = null;
            getStatistics(to.query.page, to.params.id,(err, data) => {
                this.setData(err, data);
                next();
            });
        },
    }
</script>

<style scoped>

</style>